<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<chronomail:include file="/includes/links.html" />
<script type="text/javascript" src="/functions.js"></script>
</head>
<body class="iframe">

<div id="contact-title" class="boxtitle"><chronomail:label name="contactproperties" /></div>
<div id="contact-details" class="boxcontent">
  <chronomail:if condition="strlen(env:sourcename)" />
    <div id="sourcename"><chronomail:label name="addressbook" />: <chronomail:var name="env:sourcename" /></div>
  <chronomail:endif />

  <div id="contactphoto"><chronomail:object name="contactphoto" id="contactpic" placeholder="/images/contactpic.png" placeholderGroup="/images/contactgroup.png" /></div>
  <chronomail:object name="contacthead" id="contacthead" />
  <div style="clear:both"></div>
  <div id="contacttabs">
    <chronomail:object name="contactdetails" />
  </div>
  <p>
    <chronomail:button command="edit" type="input" class="button" label="editcontact" condition="!ENV:readonly" />
  </p>
</div>
<script type="text/javascript">chronomail_init_tabs('contacttabs')</script>

</body>
</html>
