<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<chronomail:object name="meta" />
<chronomail:object name="links" />
<link rel="stylesheet" type="text/css" href="/print.css" />
</head>
<body>

<chronomail:object name="logo" src="/images/chronomail_logo.png" id="logo" border="0" type="print" />

<div id="contact-details">
  <div id="contactphoto"><chronomail:object name="contactphoto" id="contactpic" placeholder="/images/contactpic.png" placeholderGroup="/images/contactgroup.png" /></div>
  <chronomail:object name="contacthead" id="contacthead" />
  <div style="clear:both"></div>
  <chronomail:object name="contactdetails" />
</div>

</body>
</html>
