<chronomail:object name="doctype" value="html5" />
<html>
<head>
<chronomail:object name="meta" />
<chronomail:object name="links" />
<link rel="stylesheet" type="text/css" href="/print.css" />
</head>
<body>

<div id="header"><chronomail:object name="logo" src="/images/chronomail_logo.png" id="toplogo" border="0" alt="Logo" type="print" /></div>

<div id="printmessageframe">
<chronomail:object name="messageHeaders" class="headers-table" max="10" />
<chronomail:object name="messageAttachments" id="attachment-list" />
<chronomail:object name="messageBody" id="messagebody" showImages="false" />
</div>

</body>
</html>
