<chronomail:object name="doctype" value="html5" />
<html>
<head>
<chronomail:include file="/includes/links.html" />
</head>
<body class="iframe">

<h1 class="boxtitle"><chronomail:object name="sectionname" /></h1>

<div id="preferences-details" class="boxcontent">
<chronomail:object name="userprefs" form="form" class="propform" />
</div>

<div class="footerleft formbuttons">
	<chronomail:button command="save" type="input" class="button mainaction" label="save" />
</div>

<chronomail:include file="/includes/footer.html" />

</body>
</html>
